<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/projet_final_db</property>
		<property name="hibernate.connection.username">projetdb</property>
		<property name="hibernate.connection.password">1234</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.hbm2ddl.auto">create</property> <!-- none/validate/create/create-drop/update -->

		<mapping resource="fr/doranco/hbm/adresse.hbm.xml"></mapping>
		<mapping resource="fr/doranco/hbm/article.hbm.xml"></mapping>
		<mapping resource="fr/doranco/hbm/cartepaiement.hbm.xml"></mapping>
		<mapping resource="fr/doranco/hbm/categorie.hbm.xml"></mapping>
		<mapping resource="fr/doranco/hbm/commande.hbm.xml"></mapping>
		<mapping resource="fr/doranco/hbm/commentaire.hbm.xml"></mapping>
		<mapping resource="fr/doranco/hbm/lignedecommande.hbm.xml"></mapping>
		<mapping resource="fr/doranco/hbm/params.hbm.xml"></mapping>
		<mapping resource="fr/doranco/hbm/utilisateur.hbm.xml"></mapping>
	</session-factory>
</hibernate-configuration>